body {
    background: rgba(255, 254, 254, 1);
}

.header {
    position: sticky;
    width: 100%;
    height: 6vh;
    top: 0%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    /* background: rgba(0,0,0, 0.6); */
    z-index: 2;
    /* border-radius: 50px; */
    margin: auto 0;
}




@keyframes animatedBackground {
    0% {
        background-position: 0 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c4.wallpaperflare.com/wallpaper/280/463/660/kurumba-maldives-tourism-pool-resort-wallpaper-preview.jpg");
    }

    50% {
        background-position: -100% 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c4.wallpaperflare.com/wallpaper/850/698/458/lankanfushi-island-vacation-travel-gili-lankanfushi-wallpaper-preview.jpg");
    }

    100% {
        background-position: 100% 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600");
    }
}

#index_header {
    background-size: 100vw 95vh;

    /* width: 100%;
    height: 120vh; */
    /* background-position: top center; */
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: animatedBackground 10s linear infinite alternate;

}

#about_body {
    background-image: url(about.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 60vh;
    background-position: top center;
}

.main2 {
    /*background-image: url("https://c4.wallpaperflare.com/wallpaper/850/698/458/lankanfushi-island-vacation-travel-gili-lankanfushi-wallpaper-preview.jpg");
    background-repeat: no-repeat;*/
    display: flex;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    z-index: 1;


}

.para2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 50%;
    position: relative;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    background-color: rgba(221, 221, 221, 0.2);
    padding: 30px;
    padding-right: 40px;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}

.hotel2 {

    margin: auto 20px;
    width: 30vw;

}

#hotel2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.para2 p {
    max-width: 1200px;
}

.content2 {
    text-align: left;
    padding-left: 20px;
    border-left: 3px solid red;
}

#rooms_header {
    border-radius: 50px;
    background-image: url("rooms2.png");
    background-repeat: no-repeat;
    background-size: 100vw 30vh;
    background-position: top center;
}

#contacts_header {
    border-radius: 50px;
    background-image: url("contacts2.png");
    background-repeat: no-repeat;
    background-size: 100vw 55vh;
    background-position: top center;
    backdrop-filter: blur(2px);
    background-color: #a1351a5b;
}


.logo {
    width: 30vw;
}

.menu {
    justify-content: space-evenly;
    width: 50vw;
    /* margin: auto;
    align-content: flex-end; */
}

a {
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul.navigation {
    display: flex;
    justify-content: space-evenly;
    max-width: 50uw;
    align-items: center;
    /* color: aquamarine; */
}

.bg {
    background: rgba(0, 0, 0, 1);
}

ul li {
    display: inline-block;
    margin: 0 10px;
    /* color: black; */
    font-size: large;
    /*New*/
    font-weight: 600;
}

ul li a:hover {

    color: white;
    text-decoration: none;
    font-size: 2vh;
}

button {
    transition: 0.5s;
    display: block;
    border: none;
    background: none;
    outline: none;
    border-radius: 50px;
}

.book {
    display: white;
    border: none;
    background-color: #0d6efd;
    padding: 1vh 1vh;
    color: white;
    font-size: 1.75vh;
    font-weight: 600;
    width: 100%;
    /* border-radius: 20px; */
    cursor: pointer;
}

#responsive {
    display: none;
}

@media screen and (max-width:900px) {

    ul.navigation,
    .main2 {
        display: none;
    }

    #responsive {
        display: inline-block;
    }

    .menu {
        padding-left: 50vw;
        justify-content: end;
        align-items: end;
        width: 15%;
    }
}

@media screen and (max-width:1100px) {
    .menu {
        width: 70%;
    }
}

p {
    font-family: 'Poppins', sans-serif;
}


/* @keyframes animatedBackground {
    0% {
        background-position: 0 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c4.wallpaperflare.com/wallpaper/280/463/660/kurumba-maldives-tourism-pool-resort-wallpaper-preview.jpg");
    }

    50% {
        background-position: -100% 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c4.wallpaperflare.com/wallpaper/850/698/458/lankanfushi-island-vacation-travel-gili-lankanfushi-wallpaper-preview.jpg");
    }

    100% {
        background-position: 100% 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1600");
    }
} */

.main {
    display: block;
    height: 250vh;
    width: 100%;
    /* background-size: cover;
    background-position: 0px 0px; */
    position: relative;
    /* background-repeat: repeat-y; */
    /* animation: animatedBackground 10s linear infinite alternate; */
    /*animation: slideshow 4s linear infinite alternate;*/
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    z-index: 1;
    top: 40vh;
    background-color: rgba(206, 195, 195, 0.596);
}
.main_rooms{
    display: block;
    height: 250vh;
    width: 100%;
    position: relative;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    z-index: 1;
    background-color: rgba(206, 195, 195, 0.596);
}



.para {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* top: 80vh; */
    position: relative;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;

    /* background-color: rgba(221, 221, 221, 0.2); */
    /* padding: 30px;
    padding-right: 40px; */
    /* border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke; */

}

.get_more {
    background-color: #0d6efd;
    color: white;
    padding: 3px 10px;
}

.get_more:hover {
    text-decoration: none;
    color: white;
}

.info {
    display: flex;
    flex-direction: row;
    background-color: rgba(102, 64, 7, 0.747);
    margin: 1% 0;
    width: 96vw;
    padding: 20px;
    border-radius: 40px;
    justify-content: space-between;
    box-shadow: 1.5px 1.5px 8px whitesmoke;
    margin-bottom: 1vh;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 23px;
}

.info:hover {
    width: 98vw;
    box-shadow: 3px 3px 8px whitesmoke;
    /* font-size:21.5px; */
}

#Index_About {
    margin-top: 0px;
}
#buisness_suite {
    margin-top: 0px;
}

.info_heading {
    margin-bottom: 3%;

}

.content {
    box-sizing: border-box;
    padding: 0px 5%;
    width: 63%;

}

.index_content_odd {
    text-align: right;
    border-right: 5px solid rgba(95, 15, 15, 0.733);
    border-top-right-radius: 20px;
}

.index_content_even {
    border-left: 5px solid rgba(95, 15, 15, 0.733);
    border-top-left-radius: 20px;
}

.image_container {
    width: 33%;
}

.image {
    border: 2px solid rgba(95, 15, 15, 0.733);
    border-radius: 20px;
    width: 100%;
    height: auto;
}

#Index_Facilities {
    flex-direction: row-reverse;
}
#superior_rooms{
    flex-direction: row-reverse;
}



.para p {
    max-width: 1200px;
}

.init {
    border-bottom: 3px solid #0d6efd;
    padding-bottom: 5px;
    color: #0d6efd;
}
.init2{
    color:white;
    background-color: #0d6efd;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;

}

.hanuma {
    padding: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 2vh;
    width: 40vw;
    height: 12vh;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* top: -30vh; */


}

.room {
    width: 20vw;
}

.room-content {
    width: 70vw;
    border-left: 3px solid blueviolet;
    padding-left: 20px;
    border-radius: 5px;
}

.hanuma:hover {
    width: 42vw;
    top: -32vh;
    height: 15vh;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

.room-btn {
    background-color: blueviolet;
    padding: 10px 15px;
    font-size: 2vh;
    font-weight: 600;

}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("rooms2.png"); */
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    color: white;
    font-weight: 600;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    /*background-color: #f2f2f2;*/
    height: auto;
    width: 60%;
    border: 8px solid whitesmoke;
    border-radius: 5px;
    z-index: 20;
    background-color: rgba(116, 111, 93, 0.5);
    /*box-shadow: 2px 2px 3px blueviolet;*/
}

@media screen and (max-width:700px) {
    .box {
        width: 100%;
    }
}

.booksign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-image: url(https://images.pexels.com/photos/2017802/pexels-photo-2017802.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    z-index: 20;
}

.book_img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    filter: blur(50px);
    filter: brightness(50%);
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-image: url("signup.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bg-img {
    position: fixed;
    width: 100vw;
    height: 150vh;
    z-index: 10;
    filter: blur(10px);
    filter: brightness(50%);
}

.c1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 50vh;
    font-size: 10vh;
    /* background-image: url(contact.png); */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 2vh;
}

.c2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    color: white;
    /* background-color: #0c192c; */
    background-image: url(wood1.png);
    background-size: cover;
    padding: 8vh;
    box-sizing: border-box;
    border-radius: 4vh;
    margin: auto;
    border-bottom: 5vh solid rgba(245, 245, 245, 0.445);
}

.c3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    border: 10px solid aliceblue;
    color: white;
    border-radius: 1vh;

}

.c4 {
    display: flex;
    flex-direction: row;

    padding-left: 8vh;
    width: 50%;
    border: 10px solid aliceblue;
    color: white;
    border-radius: 1vh;
}

#links {
    color: white;
}

#links:hover {
    color: #0d6efd;
    font-size: large;


}

.c5 {
    display: flex;
    /* flex-direction: row; */
    width: 40%;

}

.c6 {
    display: flex;
    /* flex-direction: row; */
    float: right;
    /* padding-right: 2vw; */
    width: 60%;
    background-image: url(map.jpeg);
    background-size: cover;
}


.buttonlogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    border: 2px solid white;
    border-radius: 1.5vh;
    font-size: medium;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, red 0%, #d88913 51%, rgb(233, 213, 37) 100%);
    color: whitesmoke;
    font-weight: 600;
    margin: auto;
}

.buttonlogin:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    border: 2px solid white;
    border-radius: 1vh;
    font-size: medium;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: yellow;
    margin: auto;
    background-position: right center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#buttonlogin :hover {
    color: black;
}


.custom-date-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    font-size: medium;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
    color: green;
}

.room_count1,
.room_count2,
.room_count3,
.room_count4 {
    display: inline-block;

}

.a1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* background-image: url("rooms2.png"); */
    height: 40vh;
    width: 40%;
    margin-top: -10vh;
    font-size: 2vh;
    color: white;
    font-weight: 450;
}

.a2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(83, 187, 152, 0.623);
    margin-top: -5vh;
    box-sizing: border-box;

}

.a3 {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 55vh;
    background-image: url(https://images.pexels.com/photos/4466240/pexels-photo-4466240.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.a4 {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    padding-left: 2vw;
    padding-right: 6vw;
    width: 50%;
    float: right;
    font-size: 2vh;
    color: purple;
    font-weight: 200;
}

.a5 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40vh;
    padding: 3vh 0;
    color: white;
    background-color: black;
}

.a6 {
    display: flex;
    flex-direction: column;
    /* padding-left: 1vw; */
    justify-content: center;

    width: 18%;
    height: 25vh;
    color: white;
    font-size: 2vh;
    font-weight: 200;
}

.a6 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 70%;
    color: white;
    font-size: 17px;
    font-weight: 100;
}

@media screen and (max-width:1300px) {
    .a5 {
        flex-direction: column;
        height: auto;

    }

    .a6 {
        width: 100%;
        height: 15vh;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 0vh;

        margin-bottom: 8vh;
    }

    .a1 {
        width: 80vw;
        height: 40vh;
    }

    .a6 p {

        width: 50%;
    }

}

@media screen and (max-width:800px) {
    .a6 {
        margin-bottom: 8vh;
    }
}

.toggle-password {
    position: relative;
    top: -7vh;
    left: 25vw;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.a7 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 3vh 0;
    color: maroon;
    background-color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.slideshow-container {
    position: relative;
    background: papayawhip;
}

/* Slides */
.mySlides {
    display: none;
    padding: 8.5vw;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 1.75vw;
    color: #888;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 2vh;
    background: black;
    height: 10vh;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 2vh;
    width: 2vh;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 2px white;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #71717160;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
    font-size: x-large;
}

/* Add a blue color to the author */
.mySlides p {
    color: cornflowerblue;
    font-size: x-large;
}

.checked {
    color: orange;
}

.total {
    display: flex;
    flex-direction: row;
}

#total,
#total2,
#total3 {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    padding-left: 1vw;
    ;
    float: right;
    width: 20%;
    /* padding-top: 1vh; */
}

.rooms_para {
    display: flex;
    flex-direction: row;
    /* top: 80vh; */
    position: relative;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* background-color: rgba(221, 221, 221, 0.2); */
    /* padding: 30px;
    padding-right: 40px; */
    /* border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke; */

}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 40vw;
    height: 70vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 1%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    padding: 3%;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:#3A3A38;
    color: white;
  }
  .flipcard_front_content{
    border: solid white 1px;
    height: 100%;
    width: 100%;
  }
  .flipcard_back_content{
    border: solid yellow 1px;
    height: 100%;
    width: 100%;
    padding: 2%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #3A3A38;
    color: white;
    transform: rotateY(180deg);
  }
  .flipcard_image{
    width: 100%;
  }

  .b21{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center ;
    width: 100%;
    font-size: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;

  }
  .room_count1,.room_count2,.room_count3,.room_count4{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 2.5vh;
    padding: 1vh;
    color: whitesmoke;
    background-color: #bbbbbb79;
  }
  #avl1,#avl2,#avl3,#avl4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 20%;
    /* padding-top: 1vh; */
    font-size: 2.5vh;
    color: whitesmoke;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  }

  .roombooking{
    /* height: 100vh;
    width: 100vw; */
    /* background-image: url(guest1.png); */
    background-image: linear-gradient(to right, rgb(13, 138, 221),rgb(213, 142, 223));
    /* background-size: cover; */
  }
  .total{
    display: flex;
    flex-direction: column;
    /* float: left; */
    width: 40%;
    font-size: 3vh;
    padding: 0 10%;
    color: whitesmoke;
  }
  #total, #total3, #total2{
    display: flex;
    flex-direction: column; 
    float: right;
    width: 30%;
    font-size: 3vh;
    padding: 0 30%;
    text-align: end;
    color: whitesmoke;
  }
  .to1{
    display: flex;
    flex-direction: row; 
    width: 100%;
  }

  #roomCount1,#roomCount2,#roomCount3,#roomCount4{
    width: 8vh;
    height: fit-content;
    border-radius: 0.5vh;
    text-align: center;
    background-color: #3A3A38;
    color: #bbbbbb;
  }